.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.productImage img {
  width: 320.5px;
  height: 450.53px;
}
.productImage:nth-child(5n + 1) {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 5;
}
.productImage:nth-child(5n + 1) img {
  width: auto;
  height: auto;
}
